
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div id="caroulselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="mx-auto d-block w-50" src="~/images/project.png" alt="ASP NET Core MVC"/>
        </div>
    </div>
</div>